
.heading-main {
    position: fixed; 
    top: 65px; /* adjust the value as needed */
    left: 390px; /* adjust the value as nee
    font-size: 10px; /* Adjust the value as needed */
    font-family: 'Roboto', sans-serif;
}

.heading-secondary {
    position: fixed;
    top: 260px;
    left: 430px;
    font-size: 20px; 
    font-family: 'Roboto', sans-serif;
   
}